body {
    font-family: 'Baloo 2', cursive;
}

.header {
    height: 90px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: white;
}

.header.active{
    height: 75px;
    -webkit-box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
    box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
}

/*Menu*/
.shop-2:nth-child(2) {
    margin-left: 20%;
}

.icon-menu {
    margin-left: 31%;
}

a.navbar-brand.d-none.d-xl-block {
    margin-left: 20%;
    font-size: 40px;
    font-weight: 800;
}

ul.navbar-nav.flex-row {
    margin-left: 26%;
}

.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
   display: none; 
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  width: 359%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 1% 1% 1% 17%;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
  color: rgba(0,0,0,.7);
}

img.img-shop {
    width: 100%;
    display: block;
    background-color: #00a1ff3d;
    margin-left: 7%;
    border-radius: 10px;
}

.shop-1 {
    display: flex;
}

.shop-2 {
    /* padding: 0% 0% 0% 0%; */
    width: 50%;
    margin-left: 6%;
}

.shop-3 {
    /* margin-left: 0%; */
}

span.tieu-de-shop {font-weight: 700;font-size: 17px;font-family: 'Baloo 2', cursive;}

.shop-3 a {font-family: 'Baloo 2', cursive;}

a.nav-link.shop-4 {
    margin-top: 8%;
    font-size: 20px;
}

a.nav-link.shop-6 {
    margin-top: 9%;
    font-size: 20px;
}

a.nav-link.shop-5 {
    margin-top: 24%;
}

button.dropbtn {
    color: rgba(0, 0, 0, 0.52);
    font-size: 20px;
}

i.fal.fa-home-lg-alt {
    /* width: 31%; */
}

a.nav-link.shop-5 {
    width: 160%;
    height: 46px;
}

/*slideshow*/
.thoitrang-1 img {
    width: 58%;
    height: 640px;
    margin-left: 42%;
}

.slide-thoi-trang {
    margin-top: 6%;
}

.thoitrang-2 {
    background-color: #3AAFD2;
}

.thoitrang-3 {
    background-color: #EBA170;
}

.thoitrang-4 {
    background-color: #F5B1B0;
}

.thoitrang-1 {
    position: relative;
}

.thoitrang-1 .loi-noi {
    position: absolute;
    top: 22%;
    left: 12%;
    font-size: 30px;
    width: 30%;
    font-weight: 600;
    color: white;
}

/*Men*/
div#slide-men {
    display: flex;
    margin: 0%;
}

.img-men {
    width: 88%;
}

.img-men img {
    width: 100%;
    height: 613px;
    border-radius: 16px;
}

.carousel-inner.men-2 img {
    width: 112%;
    /* border: 1px solid; */
    margin-left: -6%;
    border-radius: 5px;
    height: 212px;
}

.men {
    margin-top: 3%;
    width: 96%;
    margin-left: 4%;
    position: relative;
}

.men-1 {
    /* position: relative; */
    width: 50%;
    height: 346px;
}

.men-1 a.carousel-control-prev {
    height: 42px;
    width: 3%;
    position: absolute;
    top: 44%;
    left: 32%;
    background-color: #007bff;
    border-radius: 34px;
}


.men-1 a.carousel-control-next {
    position: absolute;
    /* bottom: 55%; */
    top: 44%;
    right: 2%;
    background-color: #007bff;
    border-radius: 34px;
    height: 42px;
    width: 3%;
}

.col.men4 {
    /* border: 1px solid; */
    margin: 1% 2% 1% 2%;
    display: grid;
    text-align: center;
    border-radius: 5px;
    /* -webkit-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.63); */
    -moz-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.63);
    /* box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.63); */
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.carousel-inner.men-2 {
    width: 81%;
    margin-right: 6%;
}

i.fal.fa-usd-circle {
    padding-right: 5%;
}

span.tien {
    font-size: 24px;
}
.col.men4 a {
    font-size: 27px;
    color: black;
}

.col.men4 a:hover {
    text-decoration: none;
}

.col.men4:hover {
    box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.63);
}

/*Women*/
div#slide-wonmen {
    margin-top: 5%;
}

div#slide-women {
    display: flex;
}

.img-women {
    width: 88%;
    margin-left: 11%;
}

.img-women img {
    width: 98%;
    height: 613px;
    border-radius: 16px;
}

.carousel-inner.women-2 img {
    width: 112%;
    /* border: 1px solid; */
    margin-left: -6%;
    border-radius: 5px;
    height: 212px;
}

.women {
    margin-top: 5%;
    width: 96%;
    margin-left: 2%;
    display:flex;
    position: relative;
}

.women-1 {
    /* position: relative; */
    width: 50%;
    height: 346px;
}

.women-1 a.carousel-control-prev {
    height: 41px;
    width: 3%;
    position: absolute;
    top: 45%;
    left: 0%;
    background-color: #007bff;
    border-radius: 34px;
}


.women-1 a.carousel-control-next {
    position: absolute;
    /* bottom: 55%; */
    top: 45%;
    right: 33%;
    background-color: #007bff;
    border-radius: 34px;
    height: 42px;
    width: 3%;
}

.col.women4 {
    /* border: 1px solid; */
    margin: 1% 2% 1% 2%;
    display: grid;
    text-align: center;
    border-radius: 5px;
    /* -webkit-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.63); */
    -moz-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.63);
    /* box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.63); */
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.carousel-inner.women-2 {
    width: 81%;
    margin-left: 4%;
}

i.fal.fa-usd-circle {
    padding-right: 5%;
}

span.tien {
    font-size: 24px;
}
.col.women4 a {
    font-size: 27px;
    color: black;
}

.col.women4 a:hover {
    text-decoration: none;
}

.col.women4:hover {
    box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.63);
}

.women h3 {position: absolute;right: 41%;font-size: -webkit-xxx-large;}

.men h3 {
    font-size: -webkit-xxx-large;
    /* margin-left: 13%; */
    text-align: center;
}

a.tieu-de-shop {
    font-size: 25px;
    font-weight: 600;
}

a.tieu-de-shop:hover {
    background-color: white;
}

/*cart*/
.do-mua-1 img {
    width: 50%;
}

.do-mua-1 {
    display: flex;
    border-bottom: 1px solid;
}

span.tensanpham {
    display: flex;
    width: 194%;
}

.dropdown-menu.show {
}

.tensanpham-tiensanpham {
    width: 25%;
    margin-top: 9%;
    position: relative;
}

.dropdown .dropdown-menu.show {
    min-width: 17rem;
    margin: 1.3rem 0 0 -8rem;
}

i#dropdownMenuButton {
    margin-top: 60%;
    color: #8e8e8e;
}

.thanh-tien {/* position: relative; */margin-top: 2%;}

span.thanhtien2 {

    /* width: 58%; */

    margin-left: 54%;
}

.thanhtien4 {
    background-color: aqua;
    margin-bottom: -3%;
    border-radius: 3px;
    margin-top: 5%;
}

a.thanhtien3 {
    font-size: 20px;
    margin-left: 32%;
    color: black;
}

input.soluong {
    width: 70%;
    border-radius: 3px;
    border: 1px solid;
    position: absolute;
    left: 80%;
    top: 22%;
    padding-left: 6px;
}

input.soluong:focus {
    border-radius: 3px;
}

i.fal.fa-minus-circle {
    position: absolute;
    top: -18%;
    font-size: 23px;
    left: 153%;
}

i.fal.fa-minus-circle:hover {
    color: #ff7f7f;
}

a.thanhtien3:hover {
    text-decoration: none;
}
.col.bosuutap1 img {
    width: 98%;
    display: block;
    margin-bottom: 3%;
}

.row.bosuutap {
    width: 94.8%;
    margin-left: 2%;
    margin-bottom: 2%;
}

a.ten-bosuutap {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.bo-suu-tap {
    width: 100%;
    /* margin-left: 0%; */
    margin-top: 5%;
    background: #007bff52;
    padding-top: 2%;
    padding-bottom: 2%;
}

a.ten-bosuutap:hover {
    color: #007bff;
    text-decoration: none;
}

.bo-suu-tap h3 {
    text-align: center;
    margin-bottom: 2%;
    font-weight: 900;
}

.xemthembosuutap a {
    color: black;
    font-size: 27px;
    background-color: #f8f9fa;
    /* padding: 0.5% 0.5% 0.5% 0.5%; */
    border-radius: 3px;
    padding: 0px 10px 0 10px;
}

.xemthembosuutap {
    /* background-color: #f8f9fa; */
    width: 10%;
    /* padding: 0.5% 0.5% 0.5% 0.5%; */
    text-align: center;
    /* margin-top: 1%; */
    margin: 0 auto;
}

.xemthembosuutap a:hover {
    color: white;
    text-decoration: none;
    background-color: #007bff;
}

/*Nhan thong tin*/
.nhanthongtin input {
    /* display: block; */
    width: 40%;
    border: 2px solid #007bff;
    /* border-bottom: 2px solid #ccc; */
    border-radius: 5px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

.nhanthongtin {
    text-align: center;
    margin-top: 3%;
    position: relative;
}

.nhanthongtin a {
    /* margin-left: -8%; */
    position: absolute;
    top: 51%;
    right: 30%;
    color: black;
    font-weight: 500;
    font-size: 27px;
    border-radius: 3px;
    background-color: #007bff;
    padding: 1px 10px 3px 10px;
}

.nhanthongtin a:hover {
    text-decoration: none;
    background-color: #007bff;
    color: #f8f9fa;
}

.nhanthongtin input:focus {
    outline: none !important;
    /* border: 0; */
    /* border-bottom: 2px solid #ccc; */
}

/*footer*/
.col.footer6 {display: grid;margin-left: 4%;}

.footer {
    width: 99%;
}

.col.footer2 {
    display: grid;
    margin-left: 5%;
    margin-top: 0.5%;
}

.footer {
    padding-left: 5%;
    margin-top: 3%;
    background-color: #007bff;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.col.footer1 {
    display: grid;
    margin-left: 9%;
}

.footer7 {
    border: 1px solid;
    width: 98%;
    margin-left: -2%;
}

span.tieudefooter {
    font-size: 27px;
    font-weight: 600;
}

a.footer1 {
    color: black;
}

.footer .row {
    margin-right: 0%;
}